#include <dt-bindings/zmk/matrix_transform.h>

/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
        col-gpios
            = <&gpio0 22 GPIO_ACTIVE_HIGH> // pro_micro 4
            , <&gpio1 0 GPIO_ACTIVE_HIGH>  // pro_micro 5
            , <&gpio1 4 GPIO_ACTIVE_HIGH>  // pro_micro 6
            ;
        row-gpios
            = <&gpio1 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // pro_micro 7
            , <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // pro_micro 8
            , <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // pro_micro 9
            ;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <3>;
        rows = <3>;
        map = <
            RC(0,0) RC(0,1) RC(0,2)
            RC(1,0) RC(1,1) RC(1,2)
            RC(2,0) RC(2,1) RC(2,2)
        >;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default";
        kscan = <&kscan0>;
        transform = <&default_transform>;
        keys
            = <&key_physical_attrs 100 100    0    0 0 0 0>
            , <&key_physical_attrs 100 100  100    0 0 0 0>
            , <&key_physical_attrs 100 100  200    0 0 0 0>
            , <&key_physical_attrs 100 100    0  100 0 0 0>
            , <&key_physical_attrs 100 100  100  100 0 0 0>
            , <&key_physical_attrs 100 100  200  100 0 0 0>
            , <&key_physical_attrs 100 100    0  200 0 0 0>
            , <&key_physical_attrs 100 100  100  200 0 0 0>
            , <&key_physical_attrs 100 100  200  200 0 0 0>
            ;
    };
};
